#BODY_1 {
    color: rgb(68, 68, 68);
    height: 1728.17px;
    max-width: 650px;
    width: 650px;
    column-rule-color: rgb(68, 68, 68);
    perspective-origin: 335px 864.078px;
    transform-origin: 335px 864.078px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px / 28.8px Times;
    margin: 40px 330.5px;
    outline: rgb(68, 68, 68) none 0px;
    padding: 0px 10px;
}/*#BODY_1*/

#HEADER_2 {
    color: rgb(68, 68, 68);
    height: 95.1094px;
    width: 650px;
    column-rule-color: rgb(68, 68, 68);
    perspective-origin: 325px 47.5469px;
    transform-origin: 325px 47.5469px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px / 28.8px Times;
    outline: rgb(68, 68, 68) none 0px;
}/*#HEADER_2*/

#H1_1 {
    color: rgb(68, 68, 68);
    height: 43px;
    width: 650px;
    column-rule-color: rgb(68, 68, 68);
    perspective-origin: 325px 21.5px;
    transform-origin: 325px 21.5px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal bold normal 36px / 43.2px Times;
    margin: 24.12px 0px;
    outline: rgb(68, 68, 68) none 0px;
}/*#H1_3*/

#EM_4 {
    color: rgb(68, 68, 68);
    column-rule-color: rgb(68, 68, 68);
    border: 0px none rgb(68, 68, 68);
    font: italic normal bold normal 36px / 43.2px Times;
    outline: rgb(68, 68, 68) none 0px;
}/*#EM_4*/

#ASIDE_5 {
    color: rgb(200, 0, 0);
    height: 28px;
    width: 650px;
    column-rule-color: rgb(68, 68, 68);
    perspective-origin: 325px 14px;
    transform-origin: 325px 14px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px / 28.8px Times;
    outline: rgb(68, 68, 68) none 0px;
}/*#ASIDE_5*/

#H2_1 {
    color: rgb(68, 68, 68);
    height: 28px;
    width: 650px;
    column-rule-color: rgb(68, 68, 68);
    perspective-origin: 325px 32px;
    transform-origin: 325px 32px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal bold normal 27px / 32.4px Times;
    margin: 22.41px 0px;
    outline: rgb(68, 68, 68) none 0px;
}/*#H2_1*/
#P_1 {
  color: rgb(68, 68, 68);
  height: 20px;
  width: 650px;
  column-rule-color: rgb(68, 68, 68);
  perspective-origin: 325px 14px;
  transform-origin: 325px 14px;
  border: 0px none rgb(68, 68, 68);
  font: normal normal normal normal 18px / 28.8px Times;
  margin: 18px 0px;
  outline: rgb(68, 68, 68) none 0px;
}

#P_2 {
  color: rgb(68, 68, 68);
  height: 16px;
  width: 650px;
  column-rule-color: rgb(68, 68, 68);
  perspective-origin: 325px 14px;
  transform-origin: 325px 14px;
  border: 0px none rgb(68, 68, 68);
  font: normal normal normal normal 18px / 28.8px Times;
  margin: 18px 0px;
  outline: rgb(68, 68, 68) none 0px;
}/*P_2*/

#P_4, #P_5, #P_6 {
    color: rgb(68, 68, 68);
    height: 28px;
    width: 650px;
    column-rule-color: rgb(68, 68, 68);
    perspective-origin: 325px 14px;
    transform-origin: 325px 14px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px / 28.8px Times;
    margin: 18px 0px;
    outline: rgb(68, 68, 68) none 0px;
}/*#P_4, #P_5, #P_6*/

#P_7 {
  color: rgb(68, 68, 68);
  height: 16px * 3;
  width: 650px;
  column-rule-color: rgb(68, 68, 68);
  perspective-origin: 325px 14px;
  transform-origin: 325px 14px;
  border: 0px none rgb(68, 68, 68);
  font: normal normal normal normal 18px / 28.8px Times;
  margin: 18px 0px;
  outline: rgb(68, 68, 68) none 0px;
}/*P_7*/

#STRONG_8 {
    color: rgb(68, 68, 68);
    column-rule-color: rgb(68, 68, 68);
    border: 0px none rgb(68, 68, 68);
    font: normal normal bold normal 18px / 28.8px Times;
    outline: rgb(68, 68, 68) none 0px;
}/*#STRONG_8*/

#P_3 {
  color: rgb(68, 68, 68);
  height: 28px;
  width: 650px;
  column-rule-color: rgb(68, 68, 68);
  perspective-origin: 325px 42px;
  transform-origin: 325px 42px;
  border: 0px none rgb(68, 68, 68);
  font: normal normal normal normal 18px / 28.8px Times;
  margin: 18px 0px;
  outline: rgb(68, 68, 68) none 0px;
} #P_3

#P_30, #P_35 {
    color: rgb(68, 68, 68);
    height: 84px;
    width: 650px;
    column-rule-color: rgb(68, 68, 68);
    perspective-origin: 325px 42px;
    transform-origin: 325px 42px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px / 28.8px Times;
    margin: 18px 0px;
    outline: rgb(68, 68, 68) none 0px;
}/*#P_30, #P_35*/

#A_10, #A_39, #A_45, #A_48 {
    font: normal normal normal normal 18px / 28.8px Times;
}/*#A_10, #A_39, #A_45, #A_48*/

#EM_11 {
    color: rgb(68, 68, 68);
    column-rule-color: rgb(68, 68, 68);
    border: 0px none rgb(68, 68, 68);
    font: italic normal normal normal 18px / 28.8px Times;
    outline: rgb(68, 68, 68) none 0px;
}/*#EM_11*/

#UL_1 {
    color: rgb(68, 68, 68);
    height: (18px / 28.8px) * 3px;
    width: 610px;
    column-rule-color: rgb(68, 68, 68);
    perspective-origin: 325px 70px;
    transform-origin: 325px 70px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px / 28.8px Times;
    margin: 18px 0px;
    outline: rgb(68, 68, 68) none 0px;
}/*#UL_1*/

#UL_2 {
    color: rgb(68, 68, 68);
    height: (18px / 28.8px) * 4px;
    width: 610px;
    column-rule-color: rgb(68, 68, 68);
    perspective-origin: 325px 70px;
    transform-origin: 325px 70px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px / 28.8px Times;
    margin: 18px 0px;
    outline: rgb(68, 68, 68) none 0px;
}/*#UL_2*/

#LI_1, #LI_2, #LI_3, #LI_4, #LI_5 {
    color: rgb(68, 68, 68);
    height: 28px;
    width: 610px;
    column-rule-color: rgb(68, 68, 68);
    perspective-origin: 305px 14px;
    transform-origin: 305px 14px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px / 28.8px Times;
    outline: rgb(68, 68, 68) none 0px;
}/*#LI_1, #LI_2, #LI_3, #LI_4, #LI_5*/

#EM_14, #EM_16, #EM_20 {
    color: rgb(68, 68, 68);
    text-align: left;
    column-rule-color: rgb(68, 68, 68);
    border: 0px none rgb(68, 68, 68);
    font: italic normal normal normal 18px / 28.8px Times;
    outline: rgb(68, 68, 68) none 0px;
}/*#EM_14, #EM_16, #EM_20*/

#EM_18, #EM_22 {
    color: rgb(68, 68, 68);
    text-align: left;
    column-rule-color: rgb(68, 68, 68);
    border: 0px none rgb(68, 68, 68);
    font: italic normal normal normal 18px / 28.8px Times;
    outline: rgb(68, 68, 68) none 0px;
}/*#EM_18, #EM_22*/

#H3_23, #H3_36 {
    color: rgb(68, 68, 68);
    height: 25px;
    width: 650px;
    column-rule-color: rgb(68, 68, 68);
    perspective-origin: 325px 12.5px;
    transform-origin: 325px 12.5px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal bold normal 21.06px / 25.272px Times;
    margin: 21.06px 0px;
    outline: rgb(68, 68, 68) none 0px;
}/*#H3_23, #H3_36*/

#H2_25, #H2_29, #H2_32, #H2_34, #H2_43 {
    color: rgb(68, 68, 68);
    height: 32px;
    width: 650px;
    column-rule-color: rgb(68, 68, 68);
    perspective-origin: 325px 16px;
    transform-origin: 325px 16px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal bold normal 27px / 32.4px Times;
    margin: 22.41px 0px;
    outline: rgb(68, 68, 68) none 0px;
}/*#H2_25, #H2_29, #H2_32, #H2_34, #H2_43*/

#P_26, #P_38 {
    color: rgb(68, 68, 68);
    height: 112px;
    width: 650px;
    column-rule-color: rgb(68, 68, 68);
    perspective-origin: 325px 56px;
    transform-origin: 325px 56px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px / 28.8px Times;
    margin: 18px 0px;
    outline: rgb(68, 68, 68) none 0px;
}/*#P_26, #P_38*/

#CODE_27, #CODE_31 {
    color: rgb(68, 68, 68);
    column-rule-color: rgb(68, 68, 68);
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px / 28.8px monospace;
    outline: rgb(68, 68, 68) none 0px;
}/*#CODE_27, #CODE_31*/

#P_28, #P_33 {
    color: rgb(68, 68, 68);
    height: 56px;
    width: 650px;
    column-rule-color: rgb(68, 68, 68);
    perspective-origin: 325px 28px;
    transform-origin: 325px 28px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px / 28.8px Times;
    margin: 18px 0px;
    outline: rgb(68, 68, 68) none 0px;
}/*#P_28, #P_33*/

#EM_37 {
    color: rgb(68, 68, 68);
    column-rule-color: rgb(68, 68, 68);
    border: 0px none rgb(68, 68, 68);
    font: italic normal bold normal 21.06px / 25.272px Times;
    outline: rgb(68, 68, 68) none 0px;
}/*#EM_37*/

#BLOCKQUOTE_40 {
    color: rgb(68, 68, 68);
    height: 56px;
    width: 570px;
    column-rule-color: rgb(68, 68, 68);
    perspective-origin: 285px 28px;
    transform-origin: 285px 28px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px / 28.8px Times;
    margin: 18px 40px;
    outline: rgb(68, 68, 68) none 0px;
}/*#BLOCKQUOTE_40*/

#BR_1, #SCRIPT_50 {
    color: rgb(68, 68, 68);
    column-rule-color: rgb(68, 68, 68);
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px / 28.8px Times;
    outline: rgb(68, 68, 68) none 0px;
}/*#BR_1, #SCRIPT_50*/

#HR_2 {
    color: rgb(68, 68, 68);
    width: 648px;
    column-rule-color: rgb(68, 68, 68);
    perspective-origin: 325px 1px;
    transform-origin: 325px 1px;
    border: 1px inset rgb(68, 68, 68);
    font: normal normal normal normal 18px / 28.8px Times;
    margin: 9px 0px;
    outline: rgb(68, 68, 68) none 0px;
}/*#HR_2*/

#A_46, #A_49 {
    font: normal normal normal normal 18px / 28.8px Times;
}/*#A_46, #A_49*/

#SCRIPT_51 {
    color: rgb(68, 68, 68);
    column-rule-color: rgb(68, 68, 68);
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px / 28.8px Times;
    outline: rgb(68, 68, 68) none 0px;
}/*#SCRIPT_51*/
